.sidebar {
  flex: 3;
  height: fit-content;
  margin: 10px 10px 10px 10px;
  padding-bottom: 30px;
  background-color: rgb(148, 142, 142);
  color:white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarImg {
  height:350px;
  width: 350px;
  margin-top: 15px;
  border-radius: 7px;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle{
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid rgb(88, 85, 81);
  border-bottom: 1px solid rgb(88, 85, 81);
  font-family: 'Varela Round', sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.sidebarItem  p {
  padding: 30px;
  color: white;
}

.sidebarList {
  list-style-type: none;
  margin-bottom: 30px;
}

.sidebarListItems{
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
  color: white;
}

.sidebarSocial {
  margin-top: 15px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
} 